<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Nova tarefa</div>
                <div class="panel-body">
                    <form class="form-inline" name="form" role="form" method="POST" ng-submit="save()">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" class="form-control" name="name" ng-model="projectMember.name" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de membros do projeto</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="projectMember in projectMembers">
                            <td>{{projectMember.name}}</td>
                            <td>
                                <a ng-href="#/project/{{projectMember.project_id}}/member/{{projectMember.id}}/edit">Edit</a> |
                                <a ng-href="#/project/{{projectMember.project_id}}/member/{{projectMember.id}}/remove">Remove</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
